.order-page-container {
  background-color: #ffffff;
  padding: 0 16px 16px 16px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.remove-button {
  background-color: #1d1312;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 10px;
  font-weight: 500;
  height: 30px;
  line-height: 10px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #ebcad7;
}

.item-order {
  padding-top: 20px;
}

.list-order ul {
  padding: 0;
}

.list-order li {
  padding-right: 10px;
  list-style-type: none;
}

.price {
  padding-right: 12px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.item-name {
  flex-basis: 80%;
}
.item-price {
  flex-basis: 10%;
  text-align: center;
}

.item-delete {
  flex-basis: 10%;
  text-align: right;
}

.items-container {
  min-width: 400px;
  border-bottom: 0.5px solid black;
}

.checkout-text {
  min-width: 400px;
}
